#title{
text-align: left;
font-style: italic;

}
#brand{
    text-align: left;
    font-style: italic;
    
    }

#descriptionpage{
    text-align: left;
    font-style: italic;
    color: saddlebrown;
    max-width: 540px;
    }

    #ratings{
        text-align: left;
        font-style: italic;
        color: saddlebrown;
        }  
        
        #backarrow {
            text-align: left;
            padding: 20px;
            margin: 10px;
  
        }